.t{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    border-radius: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDD835;
    height: 100px;
    width: 100%;

}

.logo{
    color: white;
    font-size: 2.5rem; ;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(red, green, blue, alpha)
}

.subtitulo{
    color: white;
    font-size: 1.2rem;
    opacity: 0,9;
}

nav{
    background-color:royalblue ;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav li{
    padding: 1rem 2rem;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3;
}

nav a:hover{
    color: #ff9500;
}

.about{
    padding: 2rem;
    border-radius: 8px;
    margin: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3);
}

.titulo-section{
    color:royalblue;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid;
    padding-bottom: 0.5rem;
}

.Torres{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2rem;
    margin: 2rem 0;
}

.tower-card:hover{
    background-color: white;
    border: 8px;
    overflow: hidden;
    box-sizing: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tower-card:hover:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.Torre-do-rei:hover{
    height:200px;
    background-size: cover;
    background-position: center;
}

.towers-info{
    padding: 1.5rem;
}

.towers-name{
    color:#ff9500;
    margin-bottom: 0.5rem;
}